name: Build Windows EXE

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install Dependencies
      run: |
        pip install customtkinter requests psutil pyinstaller
        pip install --upgrade pillow

    - name: Build EXE
      run: |
        pyinstaller --noconsole --onefile --collect-all customtkinter --name "EkDev_SecOps_v2.2" main.py

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: EkDev-SecOps-Windows
        path: dist/EkDev_SecOps_v2.2.exe

